// define colors
$primaryColor: #6558f5;
$primaryColor600: #5146c4;
$primaryColor700: #282362;
$primaryColor100: #e0defd;
$blackColor: #212121;
$darkGrayColor: #666666;
$offWhiteColor: #e0e0e0;
$whiteColor: #ffffff;
$grayColor: #9d9d9d;
$borderGrayColor: #d2caca;

//define font
$fontFamily: 'Outfit', sans-serif;
//font weight
$fontWeight: 400;
$fontBoldWeight: 600;
// font size
$fontSize: 16px;
$fontPrimarySize: 20px;
$fontSmallSize: 12px;
// font height
$fontLineHeight: 24px;
$fontPrimaryLineHeight: 28px;
$fontSmallLineHeight: 16px;
// font caps
$fontCaps: uppercase;

.font-text {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $fontLineHeight;
}
.font-primary-text {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontPrimarySize;
  line-height: $fontPrimaryLineHeight;
}
.font-text-bold {
  font-family: $fontFamily;
  font-weight: $fontBoldWeight;
  font-size: $fontSize;
  line-height: $fontLineHeight;
}
.font-primary-text-bold {
  font-family: $fontFamily;
  font-weight: $fontBoldWeight;
  font-size: $fontPrimarySize;
  line-height: $fontPrimaryLineHeight;
}
.font-small-caps-small {
  font-family: $fontFamily;
  font-weight: $fontBoldWeight;
  font-size: $fontSmallSize;
  line-height: $fontSmallLineHeight;
  text-transform: $fontCaps;
}
.font-small-caps {
  font-family: $fontFamily;
  font-weight: $fontBoldWeight;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  text-transform: $fontCaps;
}
// define buttons
.btn-primary {
  background-color: $primaryColor;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 8px;

  font-family: $fontFamily;
  font-weight: 700;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  text-transform: $fontCaps;
  color: $whiteColor;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor600;
  }
  &:active {
    background-color: $primaryColor700;
  }
  &:focus {
    background-color: $primaryColor;
    border: 1px solid white;
    outline: 1px solid $primaryColor;
  }
}
.btn-secondary {
  padding: 12px 16px;
  gap: 8px;
  background: $whiteColor;
  border: 1px solid $primaryColor;
  border-radius: 8px;

  font-family: $fontFamily;
  font-weight: 700;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  text-transform: $fontCaps;
  color: $primaryColor;
  letter-spacing: 0.1em;
  &:hover {
    background-color: $primaryColor100;
  }
  &:active {
    background-color: $primaryColor100;
    border: 1px solid #3d3593;
  }
  &:focus {
    background-color: $primaryColor;
    border: 1px solid white;
    outline: 1px solid $primaryColor;
  }
}
.btn-ghost {
  padding: 12px 16px;
  gap: 8px;
  background: $whiteColor;
  border: none;
  border-radius: 8px;

  font-family: $fontFamily;
  font-weight: 700;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  text-transform: $fontCaps;
  color: $primaryColor;
  letter-spacing: 0.1em;
  &:hover {
    background-color: $primaryColor100;
  }
  &:active {
    background-color: $primaryColor100;
  }
  &:focus {
    border: 1px solid $primaryColor;
  }
}
.btn-ghost-gray {
  padding: 12px 16px;
  gap: 8px;
  background: $whiteColor;
  border: none;
  border-radius: 8px;

  font-family: $fontFamily;
  font-weight: 700;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  text-transform: $fontCaps;
  color: $primaryColor;
  letter-spacing: 0.1em;
  &:hover {
    background-color: $borderGrayColor;
  }
  &:active {
    background-color: $grayColor;
  }
  &:focus {
    border: 1px solid $primaryColor;
  }
}
//define text input
.input-text {
  border: 1px solid #d2caca;
  border-radius: 8px;
  color: black;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontPrimarySize;
  line-height: $fontPrimaryLineHeight;
  &::placeholder {
    color: #acacac;
  }
  &:hover {
    border: 1px solid #212121;
  }
  &:hover::placeholder {
    color: #666666;
  }
  &:focus-visible {
    border: 1px solid $primaryColor;
    outline: none;
  }
}
//define card
.card {
  padding: 16px 24px;
  gap: 16px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 480px;
  border: 2px solid transparent;
  &:hover {
    background-color: $primaryColor100;
    border: 2px solid $primaryColor;
  }
  &:focus {
    background-color: $primaryColor700;
    border: 2px solid $primaryColor700;
    color: $whiteColor;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}


