$primaryColor: #6558f5;
$primaryColor600: #5146c4;
$primaryColor700: #282362;
$primaryColor100: #e0defd;
$blackColor: #212121;
$darkGrayColor: #666666;
$offWhiteColor: #e0e0e0;
$whiteColor: #ffffff;
$grayColor: #9d9d9d;
$borderGrayColor: #d2caca;

$fontFamily: 'Outfit', sans-serif;
